<footer class="footer">
  <div class="footer-bg">
    <img
      src="assets/images/thumbs/footer-bg-dark.png"
      alt="footer-bg">
  </div>

  <div class="footer-top py-60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
          <ul class="footer-menu">
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="index.html">Home</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="blog.html">Blog</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="contact.html">Contact</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="contact.html">Shop</a>
            </li>
            <li class="footer-menu__item">
              <a class="footer-menu__link" href="contact.html">Offers</a>
            </li>
          </ul>
    
          <div class="footer-newsletter">
            <h2 class="footer-newsletter-title">Stay Updated</h2>
            <p class="footer-newsletter-desc">
              Get updates on upcoming live shows, featured sellers, exclusive
              deals, and new arrivals delivered to your inbox.
            </p>
            <form class="newsletter-form" action="#">
              <input
                class="newsletter-form-input"
                type="email"
                placeholder="Enter your email address"
                aria-label="Email address">
              <button class="newsletter-form-btn" type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="flex-between">
        <p class="footer-bottom__text mb-0">
          Copyright 2026 Ashraf.
        </p>  
        
        <div class="footer-social">
          <a href="">Facebook</a>
          <a href="">Instagram</a>
          <a href="">Tiktok</a>
          <a href="">Youtube</a>
        </div>
      </div>
    </div>
  </div>
</footer>
