<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
  <div class="container">
    <nav class="navbar navbar-expand-xl navbar-light">
      <button
        class="navbar-toggler header-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <span id="hiddenNav"><i class="las la-bars"></i></span>
      </button>
      
      <a  href="index.html">
        <h2 class="logo-text">Nothing (R)</h2>
      </a>

      <div
        class="offcanvas border-0 offcanvas-end"
        tabindex="-1"
        id="offcanvasDarkNavbar"
      >
        <div class="offcanvas-header">
          <a class="logo navbar-brand" href="index.html">
            <h2 class="logo-text">Nothing (R)</h2>
          </a>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body justify-content-center">
          <ul class="navbar-nav nav-menu align-items-xl-center">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="all-products.html">OFFERS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="blog.html">SHOP ALL</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">PHONES</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">PHONES</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-right">
        <a href="#" class="header-right-item">
          @@include('../svg/bagIcon.html')
        </a>
        <a href="#" class="header-right-item">
          @@include('../svg/_userIcon.html')
        </a>
      </div>
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
