<!-- ==================== Header Start Here ==================== -->
<header class="header" id="header">
  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <button
        class="navbar-toggler header-button"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <span id="hiddenNav"><i class="las la-bars"></i></span>
      </button>

      <div
        class="offcanvas border-0 offcanvas-end"
        tabindex="-1"
        id="offcanvasDarkNavbar"
      >
        <div class="offcanvas-header">
          <a class="logo navbar-brand" href="index.html">
            <h2 class="logo-text">Nothing (R)</h2>
          </a>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body justify-content-center">
          <ul class="navbar-nav w-100 nav-menu align-items-sm-center">
          <li class="nav-item">
                <a href="#" class="header-right-item bar-icon">
                  @@include('../svg/barIcon.html')
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Shop</a>
            </li>

            <li class="logo-view">
              <a  href="index.html">
                <h2 class="logo-text">Nothing (R)</h2>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="blog.html">Account</a>
            </li>

            <li class="nav-item">
                <a href="#" class="header-right-item bag-icon">
                  @@include('../svg/bagIcon.html')
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->
