/* =========================== Banner Section Start Here ========================= */
.banner-section {
  position: relative;
  z-index: 1;
  background-color: hsl(var(--base) / 0.05);
  overflow: hidden;
}