.all-product-wrapper {
  --count: 5;
  --gap: 48px;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;

  @include xl-screen {
    --count: 4;
      --gap: 32px;
  }

  @include lg-screen {
    --count: 3;
  }

  @include md-screen {
    --count: 2;
      --gap: 24px;
  }

  @include msm-screen {
    --count: 1;
      --gap: 16px;
  }
}

.product-card {
  width: calc(100% / var(--count) - (var(--gap) - var(--gap) / var(--count)));
  position: relative;

  &:hover{
    .product-card{
      &-thumb{
        transform: scale(1.1);
      }
    }
  }


  &-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 12px;
    transition: all linear 0.3s;

    img {
      max-height: 180px;
    }
  }

  &-body {
    padding: 8px;
    text-align: center;
  }

  &-title {
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    color: hsl(var(--white));
    font-size: 1.125rem;
  }

  &-price {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: var(--heading-font);

    .old-price {
      text-decoration: line-through;
      color: hsl(var(--white) / 0.5);
    }

    .offer-price {
      color: hsl(var(--white));
      font-weight: 700;
    }
  }
}

.view-btn {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid hsl(var(--white) / 0.2);
  color: hsl(var(--white));
  height: 40px;
  padding-inline: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all linear 0.3s;

  &:hover {
    border: 1px solid hsl(var(--base));
    color: hsl(var(--white));
    background-color: hsl(var(--base));
  }
}

