@font-face {
  font-family: 'NDot 55';
  src: url('../textfont/fonts-ndot55.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NDot 57';
  src: url('../textfont/fonts-ndot57.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-font: 'NDot 55', sans-serif;
  --body-font: 'Noto Sans Mono', monospace;
  --heading-font: 'NDot 57', sans-serif;


  @include colorVariable(--base, #6d28d9, 10);


  @include colorVariable(--white, #ffffff);
  @include colorVariable(--black, #000);
}
