/* ========================= Footer CSS Start ============================= */
.footer {
  background-color: hsl(var(--heading-color));
  position: relative;
  z-index: 1;
  margin-top: auto;

  &::after{
    content: "";
    background-color: hsl(var(--white)/0.025);
    background-image: radial-gradient(circle at 1px 1px, hsl(var(--white)) 1px, transparent 0);
    background-size: 150px 150px;
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-fit: bottom;
    }
  }
}

.footer-menu{
  margin-bottom: 60px;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-menu__link {
  font-size: 2.5rem;
  line-height: 150%;
  font-family: var(--heading-font);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: hsl(var(--white));
  transition: all linear 0.2s;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    color: hsl(var(--white));
    text-decoration: none;
    padding-left: 3px;
  }

  
  @include lg-screen {
    font-size: 2rem;
  }
  
  @include msm-screen {
    font-size: 1.75rem;
  }
}

.footer-contact {
  &__item {
    display: flex;
    gap: 12px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .content {
      & :is(p, a) {
        color: hsl(var(--white) / 0.66);

        &:hover {
          color: hsl(var(--white));
        }

        @include sm-screen {
          font-size: 0.875rem;
        }
      }
    }

    .icon {
      color: hsl(var(--white));
      width: 26px;
      height: 26px;
      border-radius: 6px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: hsl(var(--white) / 0.1);
      font-size: 0.8rem;
    }
  }
}

.footer-newsletter {
  border-radius: 12px;
  overflow: hidden;
  background-color: hsl(var(--white) / 0.02);
  padding: 24px;
  backdrop-filter: blur(10px);
  text-align: center;

  &-title {
    font-size: 1.75rem;
    color: hsl(var(--white));
    margin-bottom: 6px;
  }

  &-desc {
    color: hsl(var(--white) / 0.85);
    margin-bottom: 40px;
  }
}

.newsletter-form {
  background-color: hsl(var(--white));
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  padding: 6px;

  &-input {
    width: 100%;
    outline: 0;
    border: 0;
    height: 100%;
    background-color: transparent;
    color: hsl(var(--black));
    padding: 12px;
  }

  &-btn {
    flex-shrink: 0;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 11px 16px;
    background-color: hsl(var(--base));
    border-radius: 999px;
    color: hsl(var(--white));
  }
}

@media (max-width: 575px) {
  .newsletter-form {
    flex-direction: column;
    border-radius: 16px;
  }

  .newsletter-form-btn {
    width: 100%;
    min-height: 44px;
  }
}

.footer .social-list {
  gap: 10px;
}

.footer .social-list__link {
  border-radius: 8px;
  background-color: hsl(var(--white) / 0.15);
  color: hsl(var(--white));
  font-size: 1.125rem;
  transition: all linear 0.2s;

  &:hover {
    background-color: hsl(var(--base));
    color: hsl(var(--white));
    transform: translateY(-2px);
  }
}

.footer-bottom {
  padding-block: 16px;
  border-top: 1px solid hsl(var(--white) / 0.1);

  &__text {
    color: hsl(var(--white));
    font-size: 0.875rem;
  }
}

.footer-social{
  display: flex;
  align-items: center;
  gap: 16px;

  a{
    color: hsl(var(--white));
    font-size: 0.875rem;
  }
}
