/* ============= Header Start Here ======================= */
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  &.logo {
    img {
      max-width: 140px;

      @include md-screen {
        max-width: 124px;
      }
    }
  }
}

.header {
  z-index: 999;
  background-color: hsl(var(--black));

  &.fixed-header {
    position: sticky;
    top: 0;
    transition: 0.3s linear;
    animation: slide-down 0.8s;
    width: 100%;
  }

  .offcanvas {
    @include lg-screen {
      min-height: 100vh;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  padding: 0 !important;
}

/* ========================= Desktop Device Start ========================= */
.header {
  @media (min-width: 1200px) {
    .offcanvas-body {
      height: 100%;
      justify-content: center;
    }

    .nav-menu {
      .nav-item {
        padding-right: 6px;
        padding-block: 16px;

        &:last-child {
          padding-right: 0;
        }

        &.active {
          .nav-link {
            color: hsl(var(--white)) !important;
            background-color: hsl(var(--white) / 0.1);
            font-weight: 600;
          }
        }

        &:hover {
          .nav-link {
            color: hsl(var(--white)) !important;
            background-color: hsl(var(--white) / 0.1);
          }

          .header-dropdown {
            visibility: visible;
            opacity: 1;
            transform: scale(1) !important;
          }
        }

        .nav-link {
          color: hsl(var(--white)) !important;
          position: relative;
          cursor: pointer;
          padding: 9px 16px;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 12px;
        }
      }
    }
  }
}
/* ========================== Desktop Device End ========================= */

/* ============================== Small Device ======================= */
.header {
  @include lg-screen {
    overflow: hidden;
    padding-block: 20px;
    border-bottom: 1px solid hsl(var(--black) / 0.05);

    .nav-menu {
      .nav-item {
        text-align: left;
        display: block;
        position: relative;
        margin: 0;

        &:hover .nav-link .nav-item__icon {
          transform: rotate(0deg) !important;
        }
      }

      .header-dropdown {
        position: static !important;
        display: none !important;

        &.show {
          display: block !important;
        }
      }
    }

    .nav-item {
      &:first-child {
        border-bottom: none;
      }

      &:not(:last-child) {
        margin-bottom: 16px !important;
      }

      .nav-link {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 !important;
        font-size: rem(16px);
        font-weight: 500;
        color: hsl(var(--black));

        &.show {
          &[aria-expanded="true"] {
            color: hsl(var(--base)) !important;

            i {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .sm-header {
    display: flex;
    align-items: center;
  }

  .navbar-toggler {
    &.header-button {
      border-color: transparent;
      color: hsl(var(--white));
      padding: 0 !important;
      border: 0 !important;
      border-radius: 0 !important;
      transition: 0.15s ease-in-out;
      width: auto;
      font-size: 2.125rem;
      order: 1;
      margin-left: 10px;
      background-color: transparent;

      @include msm-screen {
        font-size: 2rem;
      }

      &:focus {
        box-shadow: none !important;
      }

      &[aria-expanded="true"] i::before {
        content: "\f00d";
      }
    }
  }
}

.header-right {
  --gap: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);

  &-nav {
    display: flex;
    align-items: center;
    gap: var(--gap);

    .nav-btn {
      color: hsl(var(--white));
      position: relative;

      .count {
        position: absolute;
        top: -4px;
        right: -16px;
        background-color: hsl(var(--base));
        color: hsl(var(--white));
        font-size: 0.7rem;
        height: 22px;
        width: 22px;
        display: grid;
        place-items: center;
        border-radius: 50%;
      }
    }
  }
}

.dropdown-menu {
  padding: 12px;
  border: 0;
  box-shadow: none;
  background-color: hsl(var(--white));
  border-radius: 12px;
  display: unset !important;
  visibility: hidden;
  opacity: 0;
  position: absolute !important;
  border: 1px solid hsl(var(--black) / 0.03);
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.header {
  .offcanvas-header {
    background-color: hsl(var(--white) / 0.05);
  }

  .offcanvas {
    background-color: hsl(var(--white));
  }
}

/* ================================= Header Css End =========================== */
