/* ============= Header Start Here ======================= */


  .navbar{
    padding: 4px 24px;
    background-color: hsl(var(--white)/0.05);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;

    @include lg-screen{
      padding: 16px;
    }
  }

.logo-text {
  color: hsl(var(--white));
  font-size: 30px;
  text-transform: uppercase;
  
  @include lg-screen{
    font-size: 24px;
  }
}

.logo-view{
  flex: 1;
  text-align: center;
}

.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;


  &.fixed-header {
    transition: 0.3s linear;
    animation: slide-down 0.8s;
    width: 100%;
  }

  .offcanvas {
    @include lg-screen {
      min-height: 100vh;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ========================= Desktop Device Start ========================= */
.header {
  @media (min-width: 1200px) {
    .offcanvas-body {
      height: 100%;
      justify-content: center;
    }

    .nav-menu {
      .nav-item {
        padding-right: 6px;
        padding-block: 16px;

        &:last-child {
          padding-right: 0;
        }

        &.active {
          .nav-link {
            color: hsl(var(--white)) !important;
            background-color: hsl(var(--white) / 0.1);
            font-weight: 600;
          }
        }

        &:hover {
          .nav-link {
            color: hsl(var(--white)) !important;
            background-color: hsl(var(--white) / 0.1);
          }

          .header-dropdown {
            visibility: visible;
            opacity: 1;
            transform: scale(1) !important;
          }
        }

        .nav-link {
          color: hsl(var(--white)) !important;
          position: relative;
          cursor: pointer;
          padding: 9px 16px;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 12px;
        }
      }
    }
  }
}
/* ========================== Desktop Device End ========================= */

/* ============================== Small Device ======================= */
.header {
  @include lg-screen {
    overflow: hidden;

    .nav-menu {
      .nav-item {
        text-align: left;
        display: block;
        position: relative;
        margin: 0;

        &:hover .nav-link .nav-item__icon {
          transform: rotate(0deg) !important;
        }
      }

      .header-dropdown {
        position: static !important;
        display: none !important;

        &.show {
          display: block !important;
        }
      }
    }

    .nav-item {
      &:first-child {
        border-bottom: none;
      }

      &:not(:last-child) {
        margin-bottom: 16px !important;
      }

      .nav-link {
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 !important;
        font-size: rem(16px);
        font-weight: 500;
        color: hsl(var(--white));

        &.show {
          &[aria-expanded="true"] {
            color: hsl(var(--base)) !important;

            i {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .navbar-toggler {
    &.header-button {
      border-color: transparent;
      color: hsl(var(--white));
      padding: 0 !important;
      border: 0 !important;
      border-radius: 0 !important;
      transition: 0.15s ease-in-out;
      width: auto;
      font-size: 1.5rem;
      order: 1;
      margin-left: 10px;
      background-color: transparent;

      @include msm-screen {
        font-size: 2rem;
      }

      &:focus {
        box-shadow: none !important;
      }

      &[aria-expanded="true"] i::before {
        content: "\f00d";
      }
    }
  }
}

.header-right {
  --gap: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap);

  @include lg-screen{
    flex: 1;
  }  
}

.header-right-item{
  color: hsl(var(--white));
}

.header {
  .offcanvas-header {
    background-color: hsl(var(--black) / 0.05);
  }

  .offcanvas {
    background-color: hsl(var(--black));
  }
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}



/* ================================= Header Css End =========================== */
